.checkbox-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.default-checkbox {
  appearance: none;
  width: 0.9rem;
  height: 0.9rem;
  border: 2px solid #333;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
}

.default-checkbox:hover {
  border-color: #345edb;
}

.default-checkbox:checked {
  background-color: #345bdb;
}

.default-checkbox:disabled {
  background-color: darkgrey;
  border-color: darkgrey;
  opacity: 0.7;
}
